.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.btn {
  width: 14px;
  height: 14px;
  border: 0;
  background: none;
  position: relative;
  padding: 0;
}
.line {
  display: block;
  transition: all 0.8s;
}
.line span {
  display: block;
  width: 100%;
  height: 2px;
  background: #29363d;
  position: absolute;
  transition: all 0.8s;
}
.line span:first-child {
  top: 50%;
  background: black;
}
.line span:nth-child(2) {
  top: 50%;
  transform: rotate(90deg);
}
