/* To hide texts */
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* aligned center */

.wrapper {
  max-width: 520px;
  margin: 0 auto;

  box-shadow: 0 0 10px red;
}

input,
button,
fieldset {
  background: none;
  border: none;
}

header {
  box-shadow: 0 0 10px blue;
}

main {
  box-shadow: 0 0 10px green;
}

/* layout */
.input-login {
  display: flex;
  flex-direction: column;
}

.input-social-pages {
  display: flex;
  flex-direction: column;
}

input,
label {
  display: inline-block;
}

/* style */
.modal-header {
  padding: 20px 188px;
  text-align: center;
  border-bottom: 1px solid #c4c4c4;
}

.modal-main {
  padding: 24px;
}
