body {
  background-color: seagreen;
}
div:not(.alpaca) {
  animation: Shadow 2s 1s infinite linear alternate;
}
@keyframes Shadow {
  0% {
    box-shadow: 0 -3px 20px 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: none;
  }
}

img {
  animation: fadeOut 2s 1s infinite linear alternate;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.alpaca {
  position: relative;
  width: 600px;
  height: 600px;
  top: 50%;
  left: 50%;
  background-size: contain;
  position: absolute;
  transform: translate(-50%, -50%);
}

.alpaca .face {
  background-color: #fff;
}

.alpaca .ear {
  background-color: #e9d7ba;
  width: 30px;
  height: 80px;
  display: inline-block;
  position: absolute;
  top: 180px;
}
.ear::before {
  content: "";
  display: block;
  width: 8px;
  height: 60px;
  background: salmon;
  margin: 10px;
}

.ear.left {
  transform-origin: 100% 100%;
  border-radius: 0px 60px 0 0;
  position: absolute;
  transform: rotate(-30deg);
  left: 35%;
}
.ear.left::before {
  border-radius: 10% 70% 0 0;
  transform: translate(20deg);
}

.ear.right {
  transform-origin: 0% 100%;
  border-radius: 10px 80px 0 0;
  transform: rotate(30deg);
  right: 35%;
}
.ear.right::before {
  border-radius: 10% 50% 0 0;
}
.hair.upper,
.hair.down,
.hair.down.second,
.hair.down.third,
.hair.down.fourth,
.hair.down.fifth {
  width: 100px;
  height: 80px;
  background-color: #e9d7ba;
  border: 6px solid #ddccb0;
  position: absolute;
  top: 44%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}
.hair.upper {
  border-radius: 0% 60% 0% 60%;
  height: 70px;
  z-index: 4;
}
.hair.upper.left {
  top: 40%;
  left: 45%;
}
.hair.upper.center {
  top: 40%;
  left: 50%;
}
.hair.upper.right {
  top: 40%;
  left: 55%;
}
.hair.down {
  top: 45%;
  border-radius: 90% 0% 90% 0;
  z-index: 3;
}
.hair.down.left {
  top: 47%;
  left: 45%;
}
.hair.down.center {
  top: 45%;
}
.hair.down.right {
  left: 55%;
}
.hair.down.left.corner {
  top: 48%;
  left: 38%;
  border-radius: 90% 0% 90% 0;
}
.hair.down.right.corner {
  top: 50%;
  left: 64%;
  border-radius: 0% 90% 0% 90%;
}

.hair.down.second.left.corner {
  top: 58%;
  left: 37%;
  border-radius: 0% 90% 0% 90%;
}
.hair.down.second.right.corner {
  top: 58%;
  left: 63%;
  border-radius: 90% 0% 90% 0%;
}

.hair.down.third.left.corner {
  top: 66%;
  left: 40%;
  border-radius: 0% 90% 0% 90%;
}
.hair.down.third.right.corner {
  top: 66%;
  left: 60%;
  border-radius: 90% 0% 90% 0%;
}

.hair.down.fourth.left.corner {
  top: 70%;
  left: 40%;
  border-radius: 0% 80% 0% 80%;
}
.hair.down.fourth.right.corner {
  top: 70%;
  left: 60%;
  border-radius: 80% 0% 80% 0%;
}

.hair.down.fifth.left.corner {
  top: 73%;
  left: 45%;
  border-radius: 0% 80% 0% 80%;
}
.hair.down.fifth.right.corner {
  top: 73%;
  left: 55%;
  border-radius: 80% 0% 80% 0%;
}
.face {
  width: 170px;
  height: 200px;
  border-radius: 30% 30% 50% 50%;
  z-index: 1;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.face .eye {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #0d0b06;
}
.face .eye.left {
  position: absolute;
  top: 80px;
  left: 20%;
  transform: rotate(8deg);
}
.face .eye.right {
  position: absolute;
  top: 80px;
  right: 20%;
  transform: rotate(-8deg);
}

.face .nose {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  display: flex;
  padding-top: 10px;
  z-index: 3;
}
.face .nose .black {
  width: 36px;
  height: 22px;
  background-color: #0d0b06;
  border-radius: 40% 40% 50% 50%;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
  z-index: 3;
}
.face .nose .white {
  background-color: white;
  border: 8px solid #0d0b06;
  width: 60px;
  height: 40px;
}
.face .nose .white.left {
  background-color: #eee;
  border: none;
  width: 60px;
  height: 60px;
  transform: rotate(40deg);
  border-radius: 50px 40px 100px 80px;
}
.face .nose .white.right {
  margin-left: -8px;
  transform: rotate(10deg);
  border-radius: 40px 50px 60px 80px;
}

.face .mouth {
  width: 20px;
  border: 4px solid #0d0b06;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-20%, 0);
  transform: rotate(-40deg);
  border-radius: 30%;
  z-index: 5;
  animation: Smile 2s 1s infinite ease alternate;
}

@keyframes Smile {
  0% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.neck {
  width: 100px;
  height: 100%;
  background-color: #e9d7ba;
  border: 6px solid #ddccb0;
  border-radius: 100% 100% 0 0;
  z-index: -2;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
