.container-left {
  box-sizing: border-box;
  padding: 15px 27px;
  height: 545px;
}

/* 콜라 종류 */
.drinks {
  display: grid;
  width: auto;
  grid-template-areas:
    "a b c"
    "d e f";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  margin-bottom: 20px;
  font-size: 12px;
}
.drinks .items {
  display: flex;
  width: 94px;
  height: 130px;
  box-sizing: border-box;
  flex-direction: column;
  box-shadow: 0 0 3px rgba(40, 39, 39, 0.5);
  border: 1px solid #d2d2d3;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  gap: 3px;
  position: relative;
}
.drinks .items:nth-child(2):before {
  content: "";
  width: 94px;
  height: 130px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  background-image: url(/img/sold-out.svg);
  opacity: 0.6;
}
.drinks .items img {
  margin: 0 auto;
}
.drinks .items button {
  color: white;
  background-color: #6327fe;
  padding: 5px;
  border: none;
  border-radius: 25px;
  margin-bottom: 0;
}

/* 자판기 버튼 및 금액 표시 창 */
.machine {
  display: grid;
  grid-template-areas:
    "g i"
    "h j"
    "k l";
  grid-template-columns: 200px 94px;
  grid-template-rows: 32px 32px 106px;
  gap: 10px;
  font-size: 14px;
}

/* 잔액 */
.balance {
  grid-area: g;
  padding: 10px;
  background-color: #eae8fe;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 입금액 */
.deposit {
  grid-area: h;
  border: 1px solid #b5b5b6;
  border-radius: 5px;
}
.deposit input::placeholder {
  padding: 5px;
  color: #b5b5b6;
}

/* 거스름돈 반환, 입금 */
.change,
.insert-cash {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* 거스름돈 반환버튼 */
.change {
  grid-area: i;
}

/* 입금버튼 */
.insert-cash {
  grid-area: j;
}
.change,
.insert-cash {
  box-shadow: 0 0 3px rgba(40, 39, 39, 0.5);
  border: 1px solid #d2d2d3;
  border-radius: 5px;
  text-align: center;
}

/* 구입한 목록들 */
.list {
  grid-area: k;
  background-color: #eae8fe;
  overflow-y: scroll;
  border: 1px solid #b5b5b6;
  border-radius: 5px;
}
.list ul {
  padding: 0;
}
.list ul li {
  display: flex;
  height: 35px;
  box-shadow: 0 0 1px #b5b5b6;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  margin: 10px;
}
.list ul li img {
  width: 18px;
  height: 32px;
}
.list::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
.list::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 8px;
}
.list ul li p {
  margin-left: 10px;
  font-size: 10px;
}
.list p:last-child {
  border: 2px solid #b5b5b6;
  border-radius: 5px;
  margin: 0 0 0 auto;
  width: 30px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

/* 획득 버튼 */
.enter-key {
  grid-area: l;
  color: white;
  background-color: #6327fe;
  border: none;
  border-radius: 5px;
}
